<nav >
    <div class="container">
        <div class="row"> 
            <div class="col-md-12" class="topNav">
                <button class="topButton">Our Mission/Vision</button>
                <button class="topButton">How To Use This Site</button>
                <a href="/cities"><button class="topButton">Get Started and Find Your Community</button></a>
            </div>
        </div>
    </div>
</nav>


    <div class="thumbnail">
        <img src="https://i.imgur.com/Pq2tZTel.jpg">
    </div>

<div class="jumbotron">
    <div class="container">
        <h2>All labor that uplifts humanity has dignity 
            and importance and should be undertaken with 
            painstaking excellence. <span id="mlkQuote"> -Martin Luther King Jr.</span>
        </h2>
    </div>

</div>
