<h1> Welcome! Community Member</h1>
<h4> Find your city, find out what issues are present, and see how you can help!</h4>
<h6>If you do not find your city here, please click on the new city link to the right and add your city to the Community Taskforce service. There are others like you who are also looking to give back, take the first step and create a path for them.</h6>





<div>
    <ul>
        {{#each cities}}
        <li>
            <a href="/cities/{{name}}">
            <p>
                Name: {{name}}
                <br>
                Zip: {{zipcode}}
            </p>
            </a>
        </li>
        {{/each}}
    </ul>
</div>