
<nav >
    <div class="container">
        <div class="row"> 
            <div class="col-md-12" class="topNav">
                <button class="topButton">Our Mission/Vision</button>
                <button class="topButton">How To Use This Site</button>
                <a href="/cities"><button class="topButton">Go Back To Cities</button></a>
                <h5>All labor that uplifts humanity has dignity 
                and importance and should be undertaken with 
                painstaking excellence. <span class="mlkQuote"> -Martin Luther King Jr.</span>
                </h5>
            </div>
        </div>
    </div>
</nav>
<h1>Please Create your city's profile here!</h1>

<div>
    <form action="/cities" method="post">
        <div>
            <label for="name">City Name:</label>
            <input type="text" name="name" placeholder="City Name"/>
        </div>
        <div>
            <label for="description">City description:</label> 
            <br>
            <input type="text" class="cityInput" name="description" placeholder="City Description"/>
        </div>
        <div>
            <label for="zipcode">City zipcode:</label>
            <input type="text" name="zipcode" placeholder="zipcode"/>
        </div>
        <div>
            <label for="image">City Image:</label>
            <input type="text" name="image" placeholder="City image"/>
        </div>
        
        <button type="submit">Create Your City!</button>
    </form>
</div>