<h1> {{city.name}}</h1>

<div>
    <p>
        {{city.description}}
    </p>

    <form method="post" action="/cities/{{city.name}}?_method=DELETE">
        <button type="submit">DELETE</button>
    </form>
</div>