body {
  padding-top:10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

nav{
  padding: 20px;
  background-color: rgb(131, 241, 131);
  border-radius: 15px;
  margin:0;
}

.topNav{
  display:inline;
}

.topButton{
  padding: 5px;
}

.mlkQuote{
  font-size: 15px;
}

.cityBox{
  height:200px;
  text-align: center;
  align-content: center;
}
.cityImg{
  width:200px;
  height: 150px;
  display: inline-block;
  background-color: rgb(215, 255, 215)
}

.cityNewContainer{
  background-color: rgba(50, 240, 215, 0.342); 
  border-radius: 10px;
}
.cityDescriptionInput{
  width:600px;
  height:50px;
}

.cityImageInput{
  width:400px;
}

.cityEditRouteButton{
  font-size: 8px;
}