body {
  padding-top:10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav{
  padding: 20px;
  background-color: rgb(131, 241, 131);
  border-radius: 15px;
  margin:0;
}

.topNav{
  display:inline;
}

.topButton{
  padding: 5px;
}

#mlkQuote{
  font-size: 15px;
}
