<h1>Please Add Your Details Here If You Would Like to Volunteer to Address This Issue!</h1>


<div>
    {{cityName}}
    <form action="/cities/{{cityName}}/issues/{{issueIndex}}/taskforces/{{taskforceIndex}}/volunteers" method="post">
        <div>
            <label for="name">Volunteer name:</label>
            <input type="text" name="name" placeholder="Volunteer Name"/>
        </div>
        <div>
            <label for="description">Volunteer description:</label>
            <input type="text" name="description" placeholder="Volunteer Description"/>
        </div>
        <div>
            <label for="volunteers">Volunteer Contact Phone:</label>
            <input type="text" name="contactNumber" placeholder="###-###-####"/>
        </div>
        <div>
            <label for="volunteers">Volunteer Contact Email:</label>
            <input type="text" name="contactEmail" placeholder="example@example.com"/>
        </div>
        
        <button type="submit">Submit Volunteer!</button>
    </form>
</div>