<div><label for="name">Issue:</label> {{volunteer.name}} <br>
<label for="description">Description:</label>{{volunteer.description}}

<form action="/cities/{{cityName}}/issues/{{issueIndex}}?_method=DELETE" method="post">
    <button type="submit">
        DELETE
    </button>
</form>

</div>