

<div>
    <ul>
        {{#each issues}}
        <li>
            <a href="/cities/{{cityName}}/issues/{{@index}}">
            {{name}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>