<h1>Please Add Issues You Would Like Addressed Here!</h1>


<div>
    {{cityName}}
    <form action="/cities/" method="post">
        <div>
            <label for="name">City Name:</label>
            <input type="text" name="name" placeholder="City Name"/>
        </div>
        <div>
            <label for="description">City description:</label>
            <input type="text" name="description" placeholder="City Description"/>
        </div>
        <div>
            <label for="zipcode">City zipcode:</label>
            <input type="text" name="zipcode" placeholder="zipcode"/>
        </div>
        <div>
            <label for="image">City Image:</label>
            <input type="text" name="image" placeholder="City image"/>
        </div>
        
        <button type="submit">Create Your City!</button>
    </form>
</div>